* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100px;
}

body {
    background-color: #f6f6f6;
    height: 13.3333333vh;
}

i {
    font-style: normal;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}